<!DOCTYPE html>
<html>
<head>
    <title>Happy Tummy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="../static/css/styles.css">
    
</head>

<body>

    <!-- HERO SECTION -->
<div class="hero">

    <div class="hero-center">
        <h1>HappyTummy Offers You</h1>
        <h2>The Best Tasting Experience!</h2>
    </div>

    <div class="hero-center">
       
    </div>

</div>

  <!-- SEARCH BOX -->
<div class="search-box">
    <input type="text" placeholder="Enter Restaurant Name">
    <button>🔍</button>
    
</div>



    <!-- RESTAURANT LIST -->

    <h2 class="section-title"></h2>

    <div class="container">

    <div class="card">
        <img src="pizzakottaram.jpg">
        <div>
            <h2>Pizza Kottaram</h2>
            <p class="rating">★★★★★</p>
            <div class="tags">
                <span>Italian</span>
                <span>Cheese</span>
            </div>
            <p>Baked Fresh. Served With Love!</p>
        </div>
    </div>

    <div class="card">
        <img src="sushi.jpg">
        <div>
            <h2>Sushi Kada</h2>
            <p class="rating">★★★★★</p>
            <div class="tags">
                <span>Japanese</span>
                <span>Seafood</span>
            </div>
            <p>From Sea to Sushi.</p>
        </div>
    </div>

    <div class="card">
        <img src="mandi.jpg">
        <div>
            <h2>Njetikkal Mandhi Kada</h2>
            <p class="rating">★★★★★</p>
            <div class="tags">
                <span>Arabian</span>
                <span>Mandhi</span>
            </div>
            <p>Spicy mandhi that will truly make you say “Njetti!”</p>
        </div>
    </div>

    <div class="card">
        <img src="chayakada.jpg">
        <div>
            <h2>Howweda Chayakada</h2>
            <p class="rating">★★★★★</p>
            <div class="tags">
                <span>Tea</span>
                <span>Snacks</span>
            </div>
            <p>Evening chaya & kadi bites with full nostalgic vibes.</p>
        </div>
    </div>

    <div class="card">
        <img src="sarbath.jpg">
        <div>
            <h2>Ikkakkante Sarbath</h2>
            <p class="rating">★★★★★</p>
            <div class="tags">
                <span>Cool Drinks</span>
                <span>Summer</span>
            </div>
            <p>Legendary sarbath shop serving refreshing vintage flavors.</p>
        </div>
    </div>

    <div class="card">
        <img src="matcha.jpg">
        <div>
            <h2>Matcha Kudicha?</h2>
            <p class="rating">★★★★★</p>
            <div class="tags">
                <span>Matcha</span>
                <span>Cafe</span>
            </div>
            <p>Trendy matcha beverages for aesthetic coffee lovers.</p>
        </div>
    </div>

    <div class="card">
        <img src="burger.jpg">
        <div>
            <h2>Vedikkett Burger</h2>
            <p class="rating">★★★★★</p>
            <div class="tags">
                <span>Fast Food</span>
                <span>Burger</span>
            </div>
            <p>Burger Kazhichaal Vedikkett Satisfaction!.</p>
        </div>
    </div>

    <div class="card">
        <img src="porotta.jpg">
        <div>
            <h2>Porotta Adich Keri Vaaa</h2>
            <p class="rating">★★★★★</p>
            <div class="tags">
                <span>Kerala</span>
                <span>Porotta</span>
            </div>
            <p>Taste the True Kerala Classic!</p>
        </div>
    </div>

    <div class="card">
        <img src="biriyani.jpg">
        <div>
            <h2>Theeppori Biryani</h2>
            <p class="rating">★★★★★</p>
            <div class="tags">
                <span>Biryani</span>
                <span>Spicy</span>
            </div>
            <p>Fiery spicy biryani that sets your taste buds on fire 🔥</p>
        </div>
    </div>

</div>

</body>
</html>